.jk-block-table{
  margin:0 0 1em;
}
.jk-block-table td,.jk-block-table th{
  word-break:normal;
}
.jk-block-table :where(figcaption){
  color:#555;
  font-size:13px;
  text-align:center;
}
.is-dark-theme .jk-block-table :where(figcaption){
  color:#ffffffa6;
}