<!-- jk:template-part {"slug":"header"} /-->

<!-- jk:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="jk-block-group" style="margin-top:var(--jk--preset--spacing--60)">
	<!-- jk:query-title {"type":"search"} /-->
	<!-- jk:pattern {"slug":"twentytwentyfive/hidden-search"} /-->
	<!-- jk:pattern {"slug":"twentytwentyfive/template-query-loop"} /-->
	<!-- jk:pattern {"slug":"twentytwentyfive/more-posts"} /-->
</main>
<!-- /jk:group -->

<!-- jk:template-part {"slug":"footer"} /-->
