<!-- jk:template-part {"slug":"header"} /-->

<!-- jk:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="jk-block-group" style="margin-top:var(--jk--preset--spacing--60)">
	<!-- jk:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
	<div class="jk-block-group alignfull" style="padding-top:var(--jk--preset--spacing--60);padding-bottom:var(--jk--preset--spacing--60)">
		<!-- jk:post-title {"level":1} /-->
		<!-- jk:post-featured-image {"aspectRatio":"3/2"} /-->
		<!-- jk:pattern {"slug":"twentytwentyfive/hidden-written-by"} /-->
		<!-- jk:post-content {"align":"full","layout":{"type":"constrained"}} /-->
		<!-- jk:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
		<div class="jk-block-group" style="padding-top:var(--jk--preset--spacing--60);padding-bottom:var(--jk--preset--spacing--60)">
			<!-- jk:post-terms {"term":"post_tag","separator":"  ","className":"is-style-post-terms-1"} /-->
		</div>
		<!-- /jk:group -->
		
		<!-- jk:pattern {"slug":"twentytwentyfive/post-navigation"} /-->
		<!-- jk:pattern {"slug":"twentytwentyfive/comments"} /-->
	</div>
	<!-- /jk:group -->
	<!-- jk:pattern {"slug":"twentytwentyfive/more-posts"} /-->
</main>
<!-- /jk:group -->

<!-- jk:template-part {"slug":"footer"} /-->
