<!-- jk:template-part {"slug":"header","tagName":"header"} /-->

<!-- jk:group {"layout":{"inherit":true}} -->
<div class="jk-block-group"><!-- jk:query-title {"type":"archive","align":"wide","style":{"typography":{"fontSize":"clamp(2.75rem, 6vw, 3.25rem)"},"spacing":{"margin":{"bottom":"6rem"}}}} /-->

<!-- jk:query {"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","align":"wide","layout":{"inherit":false}} -->
<main class="jk-block-query alignwide"><!-- jk:post-template {"align":"wide"} -->
<!-- jk:post-title {"isLink":true,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"fontSize":"var(--jk--custom--typography--font-size--huge, clamp(2.25rem, 4vw, 2.75rem))"} /-->

<!-- jk:post-featured-image {"isLink":true,"align":"wide","style":{"spacing":{"margin":{"top":"calc(1.75 * var(--jk--style--block-gap))"}}}} /-->

<!-- jk:columns {"align":"wide"} -->
<div class="jk-block-columns alignwide"><!-- jk:column {"width":"650px"} -->
<div class="jk-block-column" style="flex-basis:650px"><!-- jk:post-excerpt /-->

<!-- jk:post-date {"format":"F j, Y","isLink":true,"style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontSize":"small"} /--></div>
<!-- /jk:column -->

<!-- jk:column {"width":""} -->
<div class="jk-block-column"></div>
<!-- /jk:column --></div>
<!-- /jk:columns -->

<!-- jk:spacer {"height":112} -->
<div style="height:112px" aria-hidden="true" class="jk-block-spacer"></div>
<!-- /jk:spacer -->
<!-- /jk:post-template -->

<!-- jk:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- jk:query-pagination-previous {"fontSize":"small"} /-->

<!-- jk:query-pagination-numbers /-->

<!-- jk:query-pagination-next {"fontSize":"small"} /-->
<!-- /jk:query-pagination --></main>
<!-- /jk:query --></div>
<!-- /jk:group -->

<!-- jk:template-part {"slug":"footer","tagName":"footer"} /-->
