<!-- jk:template-part {"slug":"header","tagName":"header"} /-->

<!-- jk:group {"tagName":"main"} -->
<main class="jk-block-group"><!-- jk:group {"layout":{"inherit":true}} -->
<div class="jk-block-group"><!-- jk:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--jk--custom--spacing--medium, 6rem)"}}}} /-->

<!-- jk:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--jk--custom--spacing--medium, 6rem)"}}}} /--></div>
<!-- /jk:group -->

<!-- jk:post-content {"layout":{"inherit":true}} /-->

<!-- jk:group {"layout":{"inherit":true}} -->
<div class="jk-block-group">
<!-- jk:post-comments {"style":{"spacing":{"padding":{"top":"var(--jk--custom--spacing--medium, 6rem)"}}}} /--></div>
<!-- /jk:group --></main>
<!-- /jk:group -->

<!-- jk:template-part {"slug":"footer","tagName":"footer"} /-->
