<!-- jk:template-part {"slug":"header","tagName":"header"} /-->

<!-- jk:group {"tagName":"main"} -->
<main class="jk-block-group"><!-- jk:group {"layout":{"inherit":true}} -->
<div class="jk-block-group"><!-- jk:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--jk--custom--spacing--medium, 6rem)"}}}} /-->

<!-- jk:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--jk--custom--spacing--medium, 6rem)"}}}} /-->

<!-- jk:separator {"align":"wide","className":"is-style-wide"} -->
<hr class="jk-block-separator alignwide is-style-wide"/>
<!-- /jk:separator --></div>
<!-- /jk:group -->

<!-- jk:spacer {"height":32} -->
<div style="height:32px" aria-hidden="true" class="jk-block-spacer"></div>
<!-- /jk:spacer -->

<!-- jk:post-content {"layout":{"inherit":true}} /-->

<!-- jk:spacer {"height":32} -->
<div style="height:32px" aria-hidden="true" class="jk-block-spacer"></div>
<!-- /jk:spacer -->

<!-- jk:group {"layout":{"inherit":true}} -->
<div class="jk-block-group"><!-- jk:group {"layout":{"type":"flex"}} -->
<div class="jk-block-group"><!-- jk:post-date {"format":"F j, Y","style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontSize":"small"} /-->

<!-- jk:post-author {"showAvatar":false,"fontSize":"small"} /-->

<!-- jk:post-terms {"term":"category","fontSize":"small"} /-->

<!-- jk:post-terms {"term":"post_tag","fontSize":"small"} /--></div>
<!-- /jk:group -->

<!-- jk:spacer {"height":32} -->
<div style="height:32px" aria-hidden="true" class="jk-block-spacer"></div>
<!-- /jk:spacer -->

<!-- jk:separator {"className":"is-style-wide"} -->
<hr class="jk-block-separator is-style-wide"/>
<!-- /jk:separator -->

<!-- jk:post-comments /--></div>
<!-- /jk:group --></main>
<!-- /jk:group -->

<!-- jk:template-part {"slug":"footer","tagName":"footer"} /-->
