.jk-block-categories ul{
  padding-right:2.5em;
}
.jk-block-categories ul ul{
  margin-top:6px;
}
[data-align=center] .jk-block-categories{
  text-align:center;
}

.jk-block-categories__indentation{
  padding-right:16px;
}