.jk-block-query-pagination-numbers a{
  text-decoration:underline;
}
.jk-block-query-pagination-numbers .page-numbers{
  margin-right:2px;
}
.jk-block-query-pagination-numbers .page-numbers:last-child{
  margin-right:0;
}