.jk-block-quote{
  box-sizing:border-box;
  overflow-wrap:break-word;
}
.jk-block-quote.is-large:where(:not(.is-style-plain)),.jk-block-quote.is-style-large:where(:not(.is-style-plain)){
  margin-bottom:1em;
  padding:0 1em;
}
.jk-block-quote.is-large:where(:not(.is-style-plain)) p,.jk-block-quote.is-style-large:where(:not(.is-style-plain)) p{
  font-size:1.5em;
  font-style:italic;
  line-height:1.6;
}
.jk-block-quote.is-large:where(:not(.is-style-plain)) cite,.jk-block-quote.is-large:where(:not(.is-style-plain)) footer,.jk-block-quote.is-style-large:where(:not(.is-style-plain)) cite,.jk-block-quote.is-style-large:where(:not(.is-style-plain)) footer{
  font-size:1.125em;
  text-align:right;
}
.jk-block-quote>cite{
  display:block;
}