.jk-block-video :where(figcaption){
  color:#555;
  font-size:13px;
  text-align:center;
}
.is-dark-theme .jk-block-video :where(figcaption){
  color:#ffffffa6;
}

.jk-block-video{
  margin:0 0 1em;
}