<!-- jk:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- jk:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="jk-block-group">
	<!-- jk:group {"style":{"spacing":{"padding":{"top":"0vh","bottom":"6vh"}}},"layout":{"type":"constrained"}} -->
	<div class="jk-block-group" style="padding-top:0vh;padding-bottom:6vh">
		<!-- jk:post-featured-image {"align":"wide"} /-->
	</div>
	<!-- /jk:group -->

	<!-- jk:group {"layout":{"type":"constrained"}} -->
	<div class="jk-block-group">
		<!-- jk:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"1rem","left":"1rem"}}}} -->
		<div class="jk-block-columns alignwide">
			<!-- jk:column -->
			<div class="jk-block-column">
				<!-- jk:post-title {"level":1,"fontSize":"x-large"} /-->
			</div>
			<!-- /jk:column -->

			<!-- jk:column -->
			<div class="jk-block-column">
				<!-- jk:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
			</div>
			<!-- /jk:column -->
		</div>
		<!-- /jk:columns -->
	</div>
	<!-- /jk:group -->
</main>
<!-- /jk:group -->

<!-- jk:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
