<!-- jk:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- jk:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="jk-block-group alignfull">
	<!-- jk:query-title {"type":"search","align":"wide","style":{"typography":{"lineHeight":"1"},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|10"}}}} /-->

	<!-- jk:group {"align":"wide","layout":{"type":"constrained","contentSize":"840px","justifyContent":"left"}} -->
	<div class="jk-block-group alignwide">
		<!-- jk:pattern {"slug":"twentytwentyfour/hidden-search"} /-->
	</div>
	<!-- /jk:group -->

	<!-- jk:pattern {"slug":"twentytwentyfour/posts-3-col"} /-->
</main>
<!-- /jk:group -->

<!-- jk:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
