<!-- jk:template-part {"slug":"header","tagName":"header"} /-->

<!-- jk:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<main class="jk-block-group" style="margin-top:var(--jk--preset--spacing--50)">
	<!-- jk:group {"layout":{"type":"constrained"}} -->
	<div class="jk-block-group">
		<!-- jk:post-featured-image {"overlayColor":"contrast","dimRatio":50,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50","top":"calc(-1 * var(--jk--preset--spacing--50))"}}}} /-->
		<!-- jk:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->
	</div>
	<!-- /jk:group -->

	<!-- jk:post-content {"layout":{"type":"constrained"}} /-->
	<!-- jk:template-part {"slug":"comments","tagName":"section"} /-->
</main>
<!-- /jk:group -->

<!-- jk:template-part {"slug":"footer","tagName":"footer"} /-->
